@charset "UTF-8";

/* Para tablets e desktops */
@media screen and (min-width: 600px){
    main h1{
        font-size: 3em;
    }

    section > section{
        background-color: #892be262;
        border-radius: 10px;
    }

    section > ul{
        display: flex;
    }

    section.parte01{
        font-size: 1vw;
        padding: 5px;
    }
}