@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@font-face {
    font-family: 'fontheader';
    src: url(../midias/fontes/dungeon_depths/Dungeon\ Depths.ttf) format(truetype);
}


header {
    text-align: center;
    background-image: linear-gradient(to left, #3F2EF0, #2E5BF0);
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

header > h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3em;
    color: white;
    font-style: italic;
    text-shadow: 1px 1px 4px black;
}

section.parte01 > h1{
    background-color: #a17fff83;
    border-radius: 7px;
    box-shadow: 1px 1px 4px #00000088;
    margin: 5px;
}

main > section h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

section {
    padding: 20px;
}

section ul li{
    list-style-type: none;
    width: 100%;
    display: grid;
    
}

section > ul > li > a{
    text-decoration: none;
    font-size: 1.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    
}

section > ul > li > a > p{
    display: grid;
    grid-column: 1;
    grid-row: 2;
    background-color: #0000008a;
    color: white;
}

section > ul > li > a img{
    max-width: 300px;
    display: grid;
    grid-column: 1;
    grid-row: 1 /3;
    
}

section ul{
    display: grid;
    gap: 20px;
    text-align: center;
    box-shadow: 1px 1px 4px #00000062;
}